html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}



html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.oa_grid_button {
    border: 1px solid;
    border-radius: 4px;
    padding: 5px;
    margin-right: 5px;
    width: 28px;
    height: 28px;
    text-align: center;
}

    .oa_grid_button:hover {
        background-color: lightgrey;
    }

.mvc-grid {
    border: 1px solid;
    padding: 5px;
    border-radius: 0px 0px 5px 5px;
}

.oa_grid_header {
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
    display: flex;
}

.oa_server_filter {
    text-align: right;
    flex: 1;
    margin-bottom: -5px;
}

.oa_header {
    border-bottom: solid 1px lightgray;
}

.form-group {
}

.form-horizontal {
    background-color: lightgray;
    padding: 15px;
}

    .form-horizontal .oa_label {
        font-weight: bold;
    }

.hide {
    display: none;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;

    width: 100%;
    white-space: nowrap;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}


element.style {
    overflow: scroll;
    width: 369px;
    max-height: 49px;
    white-space: nowrap;
}

    /* Style the buttons that are used to open the tab content */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;

        display: inline-block;
        float: none;
    }

        .tab button.tab_button_left {
            border-left: thin solid black;
            border-top: thin solid black;
            border-bottom: thin solid black;
        }

        .tab button.tab_button_right {
            border-right: thin solid black;
            border-top: thin solid black;
            border-bottom: thin solid black;
        }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

    .tab div button:hover + .tablinks {
        background-color: #ddd;
    }


    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ccc;
    }

/* Style the tab content */
.tabcontent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.active-tab {
    display: block;
}

.non-active-tab {
    display: none;
}

.oa_textbox {
    width: 100%;
}

.oa_label {
    font-weight: bold;
    padding-top: 10px;
}

input[type=checkbox] {
    vertical-align: middle;
    position: relative;
    bottom: -5px;
    width: 30px;
    height: 30px;
}

.mandatory {
    background-color: peachpuff;
}

.row_mandatory {
    background-color: peachpuff;
    font-weight: bold;
}

    .row_mandatory .oa_column_commands {
        background-color: white;
        font-weight: normal;
    }

div.mandatory > input {
    background-color: peachpuff;
}

.oa_grid_body {
    display: block;
    overflow-x: auto;
}

.oa_loading_modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.input-group-text.fa.fa-calendar {
    padding-top: 10px;
}

.mvc-grid-filter::before {
    content: "\f0b0" !important;
    font-family: 'Font Awesome 5 Free';
}

th.desc button span,
th.asc button span {
    display: none;
}

.desc .mvc-grid-sort::before {
    opacity: 1 !important;
    content: "\f0dd" !important;
    font-family: 'Font Awesome 5 Free';
}

.asc .mvc-grid-sort::before {
    opacity: 1 !important;
    content: "\f0de" !important;
    font-family: 'Font Awesome 5 Free';
}

.mvc-grid-sort::before {
    content: "\f0dc" !important;
    font-family: 'Font Awesome 5 Free';
}

a.oa_grid_button {
    color: black;
    text-decoration: none;
}

td.day {
    border-color: white;
    border-width: 1px;
    border-radius: 2px;
}

td.day.today {
    border-color: green;
    border-width: 1px;
    border-radius: 2px;
}

col.gvShows_Mobileview,
col.gvTVStats_Mobileview,
col.gvMovieStats_Mobileview,
col.gvFriendsWatchHistory_Mobileview,
col.gvWatchlist_Mobileview,
col.gvTransactions_Mobileview,
col.gvBooks_Mobileview {
    width: 350px;
}

col.gvShows_Commands,
col.gvWatchlist_Commands,
col.gvTransactions_Commands,
col.gvBooks_Commands {
    width: 150px;
}

col.gvShows_Showname,
col.gvWatchlist_Showname,
col.gvBooks_Bookname {
    width: 350px;
}

.gvShows_Mobileview,
.gvTVStats_Mobileview,
.gvMovieStats_Mobileview,
.gvFriendsWatchHistory_Mobileview,
.gvWatchlist_Mobileview,
.gvTransactions_Mobileview,
.gvBooks_Mobileview {
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .gvShows_Mobileview,
    .gvTVStats_Mobileview,
    .gvMovieStats_Mobileview,
    .gvFriendsWatchHistory_Mobileview,
    .gvWatchlist_Mobileview,
    .gvTransactions_Mobileview,
    .gvBooks_Mobileview {
        display: none;
    }
}

@media only screen and (max-width: 599px) {
    .gvShows_Showname,
    .gvShows_Seasonnumber,
    .gvShows_Episodenumber,
    .gvShows_Datewatched,
    .gvShows_Showtypeidz,
    .gvShows_Shownotes {
        display: none;
    }

    col.gvShows_Commands,
    col.gvWatchlist_Commands,
    col.gvBooks_Commands {
        width: 10px;
    }

    .oa_grid_button {
        margin: 3px;
    }

    .gvTVStats_Showname,
    .gvTVStats_Episodeswatched,
    .gvTVStats_Firstwatched,
    .gvTVStats_Lastwatched,
    .gvTVStats_Episodesperday,
    .gvTVStats_Latestwatched,
    .gvTVStats_Dayssincestarting {
        display: none;
    }

    .gvMovieStats_Moviename,
    .gvMovieStats_Showtypeidz,
    .gvMovieStats_Datewatched {
        display: none;
    }

    .gvFriendsWatchHistory_Email,
    .gvFriendsWatchHistory_Showname,
    .gvFriendsWatchHistory_Seasonnumber,
    .gvFriendsWatchHistory_Episodenumber,
    .gvFriendsWatchHistory_Datewatched,
    .gvFriendsWatchHistory_Showtypeidz,
    .gvFriendsWatchHistory_Shownotes {
        display: none;
    }

    .gvWatchlist_Showname,
    .gvWatchlist_Seasonnumber,
    .gvWatchlist_Episodenumber,
    .gvWatchlist_Dateadded,
    .gvWatchlist_Showtypeidz,
    .gvWatchlist_Shownotes {
        display: none;
    }

    .gvTransactions_Transactiontypeidz,
    .gvTransactions_Showidz,
    .gvTransactions_Item,
    .gvTransactions_Costamt,
    .gvTransactions_Discountamt,
    .gvTransactions_Transactionnotes,
    .gvTransactions_Transactiondate {
        display: none;
    }

    .gvBooks_Bookname,
    .gvBooks_Startdate,
    .gvBooks_Enddate,
    .gvBooks_Chapters,
    .gvBooks_Pages,
    .gvBooks_Booknotes {
        display: none;
    }

    .tab {
        overflow-x: scroll;
    }

    .tab button {
        padding: 14px 10px;
    }
}






/* Light mode */
@media (prefers-color-scheme: light) {
    * {
        background-color: #FFFFFF !important;
        color: #000000 !important;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body,
    th,
    td,
    button,
    .tab,
    .modal-body,
    .modal-header,
    .modal-footer,
    header,
    .oa_grid_header,
    .tabcontent,
    .mvc-grid{
        color: #eee !important;
        background: #121213 !important;
        border-color: #3a3a3c !important;
    }


    a {
        color: #eee !important
    }

        a.oa_grid_button {
            color: #eee !important;
            text-decoration: none;
        }

    button.active {
        color: #000 !important;
        background-color: #aaa !important;
    }

    .form-label {
        color: black !important;
    }

    .checkbox .form-label {
        color: white !important;
    }

    .text-dark {
        color: white;
    }
}
