@{
    ViewBag.Title = "Infos";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <partial name="~/Areas/Infos/Views/Info/PartialViews/_Info.cshtml" />
    </div>
</div>
