@using ShowLogger.Models

@model IEnumerable<FriendWatchHistoryModel>

@(Html.OAGrid(Model)
    .NamedAndId("gvFriendsWatchHistory")
    .Columns(columns =>
    {
        columns.OAColumn(model => model.MobileView).RenderedAs(m => "<span>" + m.MobileView + "</span>").Encoded(false);
        columns.OAColumn(model => model.Name);
        columns.OAColumn(model => model.ShowName);
        columns.OAColumn(model => model.SeasonNumber);
        columns.OAColumn(model => model.EpisodeNumber);
        columns.OAColumn(model => model.DateWatched).Formatted("{0:d}");
        columns.OAColumn(model => model.ShowTypeIdZ);
        columns.OAColumn(model => model.ShowNotes);
    })
    .Pageable(pager =>
    {
        pager.PagesToDisplay = 3;
        pager.RowsPerPage = 10;
    })
)