<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        @(Html.OA().GridPage()
            .Name("gvShows")
            .Header(header =>
            {
                header.Creator();
                header.Refresh();
            })
            .Read(Url.Action("Read", "Show", new { area = "Shows" }))
        )
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        @(Html.OA().Window()
            .Name("wAddRange")
            .Title("Add Range")
            .Partial("~/Areas/Shows/Views/Show/Editor/_AddRange.cshtml")
            .ObjectType(typeof(AddRangeModel))
            .Width(365)
        )
    </div>
</div>