@using ShowLogger.Models

@model IEnumerable<ShowModel>

@(Html.OAGrid(Model)
    .NamedAndId("gvShows")
    .Creator("Create Show", Url.Action("LoadCreator", "Show", new { area = "Shows" }), Url.Action("Create", "Show", new { area = "Shows" }))
    .Editor("Edit Show", Url.Action("LoadEditor", "Show", new { area = "Shows" }), Url.Action("Update", "Show", new { area = "Shows" }))
    .IdProperty("ShowId")
    .Columns(columns =>
    {
        columns.Commands(commands =>
        {
            commands.Edit();
            commands.Custom("AddNextEpisode", "fas fa-plus", "shows.addNextEpisode", "shows.showAddNextEpisode");
            commands.Custom("AddRange", "fas fa-check-double", "shows.openAddRange", "shows.showAddRange");
            commands.Custom("Delete", "fas fa-trash-alt", "shows.delete");
        });
        columns.OAColumn(model => model.MobileView).RenderedAs(m => "<span>" + m.MobileView + "</span>").Encoded(false);
        columns.OAColumn(model => model.ShowName);
        columns.OAColumn(model => model.SeasonNumber);
        columns.OAColumn(model => model.EpisodeNumber);
        columns.OAColumn(model => model.DateWatched).Formatted("{0:d}");
        columns.OAColumn(model => model.ShowTypeIdZ);
        columns.OAColumn(model => model.ShowNotes);
    })
    .Pageable(pager =>
    {
        pager.PagesToDisplay = 3;
        pager.RowsPerPage = 10;
    })
)